.c-page-files {
    .ant-upload-list.ant-upload-list-picture-card {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .ant-pagination {
        float: right;
        clear: both;
    }
}