.c-page-setting {
    height: calc(100% - 52px);
    .page-content {
        display: flex;
        height: 100%;
        padding: 16px 0;
        background: #FFF;
        .menu-content {
            width: 224px;
            flex-shrink: 0;
            border-right: 1px solid #e8e8e8;
        }
        .main-content {
            flex: 1;
            padding: 8px 40px;
            .title {
              font-size: 20px;
              color: rgba(0, 0, 0, 0.85);
              line-height: 28px;
              font-weight: 500;
              margin-bottom: 12px;
            }
          }
    }
}